jax==0.4.38
jaxlib==0.4.38
orbax-checkpoint==0.7.0
absl-py
array-record
aqtp
cloud-accelerator-diagnostics
cloud-tpu-diagnostics
google-cloud-storage
grain-nightly
flax==0.10.2
ml-collections
ml-goodput-measurement
numpy
optax
protobuf==3.20.3
pylint
pytest
pyink
pre-commit
pytype
sentencepiece==0.1.97
tensorflow-text==2.18.0
tensorflow==2.18.0
tensorflow-datasets
tensorboardx
tensorboard-plugin-profile
git+https://github.com/mlperf/logging.git
google-jetstream
tiktoken
blobfile
safetensors
transformers
wandb
ipdb
overrides
einops
nltk
diffusers
open_clip_torch